@charset "UTF-8";
*,
:after,
:before {
  box-sizing: border-box;
}

article,
aside,
content,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

label {
  display: inline-block;
}

form {
  margin: 0;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background: var(--main-color);
}
html::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
html::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

html {
  scrollbar-color: rgba(0, 0, 0, 0.5) var(--main-color);
  scrollbar-width: 5px;
}

:root {
  --main-color: #2084b3;
  --active-color: #005e8ae6;
  --hover-color: #005e8acc;
  --text-main-color: #fff;
  --text-active-color: #fff;
  --text-hover-color: #cccccc;
  --border-color: #ced4da;
  --border-active-color: #ced4da;
  --border-hover-color: #ced4da;
  --border-radius: .25rem;
  --text-shadow: 1px 1px #000;
  --box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  --success: $success;
  --secondary: $secondary;
  --danger: $danger;
  --warning: $warning;
  --info: $info;
  --light: $light;
}

.footer, .sidebar-item > .sidebar-text-container, .sidebar-header, .header-toggle, .header-item, .header-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-item, .sidebar a, .header .dropdown > .collapse a, .header a {
  font-weight: bold;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  color: var(--text-main-color);
}

.sidebar ul, .header ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template: "sidebar-left header" fit-content(75px) "sidebar-left content" auto "sidebar-left sidebar-right" 75px "sidebar-left footer" 50px/auto 1fr;
}
.grid-container.hide-sidebar {
  grid-template-columns: auto 1fr;
}
.grid-container.hide-sidebar .sidebar {
  width: 0;
}
.grid-container.hide-sidebar .sidebar-toggle {
  position: fixed;
  top: 5px;
  left: 0;
  right: unset;
  border-radius: 0 5px 5px 0;
  background-color: var(--main-color);
  opacity: 0.5;
}
.grid-container.hide-sidebar .sidebar-toggle:hover {
  opacity: 1;
  color: var(--text-hover-color);
}
@media (min-width: 992px) {
  .grid-container {
    grid-template: "sidebar-left header  header" 75px "sidebar-left content sidebar-right" auto "sidebar-left footer  footer" 50px/1fr 4fr;
  }
  .grid-container .sidebar {
    width: 100%;
  }
}

.grid {
  display: grid;
}
.grid-dense {
  grid-auto-flow: dense;
}
.grid-gap-1 {
  grid-gap: 0.25rem;
  margin: 0.25rem;
}
.grid-gap-2 {
  grid-gap: 0.5rem;
  margin: 0.5rem;
}
.grid-gap-3 {
  grid-gap: 0.75rem;
  margin: 0.75rem;
}
.grid-gap-4 {
  grid-gap: 1rem;
  margin: 1rem;
}
.grid-gap-5 {
  grid-gap: 1.25rem;
  margin: 1.25rem;
}
.grid-gap-6 {
  grid-gap: 1.5rem;
  margin: 1.5rem;
}
.grid-gap-7 {
  grid-gap: 1.75rem;
  margin: 1.75rem;
}
.grid-gap-8 {
  grid-gap: 2rem;
  margin: 2rem;
}
.grid-gap-9 {
  grid-gap: 2.25rem;
  margin: 2.25rem;
}
.grid-gap-10 {
  grid-gap: 2.5rem;
  margin: 2.5rem;
}
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-column-1 {
  grid-column: span 1;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-column-2 {
  grid-column: span 2;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-column-3 {
  grid-column: span 3;
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-column-4 {
  grid-column: span 4;
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-column-5 {
  grid-column: span 5;
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-column-6 {
  grid-column: span 6;
}
.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-column-7 {
  grid-column: span 7;
}
.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-column-8 {
  grid-column: span 8;
}
.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-column-9 {
  grid-column: span 9;
}
.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid-column-10 {
  grid-column: span 10;
}
.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid-column-11 {
  grid-column: span 11;
}
.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}
.grid-column-12 {
  grid-column: span 12;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-gap-1, .flex-gap-1 > * {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.flex-gap-2, .flex-gap-2 > * {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.flex-gap-3, .flex-gap-3 > * {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.flex-gap-4, .flex-gap-4 > * {
  padding-right: 1rem;
  padding-left: 1rem;
}
.flex-gap-5, .flex-gap-5 > * {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.flex-grow-1 {
  flex: 1;
}
.flex-shrink-1 {
  flex: 0 1;
}
.flex-grow-2 {
  flex: 2;
}
.flex-shrink-2 {
  flex: 0 2;
}
.flex-grow-3 {
  flex: 3;
}
.flex-shrink-3 {
  flex: 0 3;
}
.flex-grow-4 {
  flex: 4;
}
.flex-shrink-4 {
  flex: 0 4;
}
.flex-grow-5 {
  flex: 5;
}
.flex-shrink-5 {
  flex: 0 5;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.col {
  flex: 1 1 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row;
  }

  .flex-sm-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-sm-column {
    flex-direction: column;
  }

  .flex-sm-column-reverse {
    flex-direction: column-reverse;
  }

  .col-sm {
    flex: 1 1 0;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .flex-md-column-reverse {
    flex-direction: column-reverse;
  }

  .col-md {
    flex: 1 1 0;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row;
  }

  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-lg-column {
    flex-direction: column;
  }

  .flex-lg-column-reverse {
    flex-direction: column-reverse;
  }

  .col-lg {
    flex: 1 1 0;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row;
  }

  .flex-xl-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-xl-column {
    flex-direction: column;
  }

  .flex-xl-column-reverse {
    flex-direction: column-reverse;
  }

  .col-xl {
    flex: 1 1 0;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--main-color);
}
.header-brand {
  flex-wrap: wrap;
  font-size: 1.25rem;
  padding: 0.3rem 0;
  margin: 5px 15px;
}
.header-brand:hover {
  color: var(--text-hover-color);
}
.header-brand.hide {
  display: none;
}
.header-brand img {
  width: 55px;
  height: 45px;
  padding-right: 10px;
}
.header .dropdown {
  position: static;
}
.header .dropdown > .collapse {
  position: relative;
  text-shadow: var(--text-shadow);
  color: var(--text-main-color);
  background-color: var(--hover-color);
  border-radius: none;
  box-shadow: none;
}
.header .dropdown > .collapse a {
  padding: 0;
}
@media (min-width: 992px) {
  .header .dropdown > .collapse {
    border: none;
    position: absolute;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .header .dropdown > .collapse a {
    padding: 0.75rem;
  }
  .header .dropdown > .collapse.collapse.show {
    width: unset;
  }
}
.header-navbar {
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}
.header-navbar .header-item {
  border-bottom: 1px solid var(--border-color);
}
.header-item {
  padding: 15px;
}
.header-item:hover, .header-item.active {
  cursor: pointer;
}
.header-item:hover, .header-item.active:hover {
  background-color: var(--hover-color);
}
.header-item.active {
  background-color: var(--active-color);
}
.header-item:hover a {
  color: var(--text-hover-color);
}
.header-toggle {
  flex: 1 100%;
  padding: 8px 0;
}
.header-toggle:hover {
  background-color: var(--active-color);
  cursor: pointer;
}
@media (min-width: 992px) {
  .header {
    flex-wrap: nowrap;
  }
  .header-toggle {
    display: none;
  }
  .header-brand {
    flex-wrap: nowrap;
  }
  .header-navbar {
    flex-direction: row;
  }
  .header-navbar .header-item {
    border: none;
  }
  .header-item {
    height: 75px;
  }
  .header > .collapse {
    flex-direction: row;
    width: 100%;
    max-height: 250px;
  }
}

.sidebar {
  grid-area: sidebar-left;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
  z-index: 1000;
  width: 0;
  top: 0;
  background-color: var(--main-color);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
  transition: width 100ms linear;
}
.sidebar .checkbox input:checked::after {
  color: var(--text-main-color);
}
.sidebar hr {
  margin: 0;
}
.sidebar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 1.5em;
}
.sidebar-toggle:hover {
  cursor: pointer;
  color: var(--text-hover-color);
}
.sidebar-header {
  padding: 0 15px;
  flex: 0 1 75px;
}
.sidebar-header-logo img {
  width: 55px;
  height: 45px;
  padding-right: 10px;
}
.sidebar-header-title {
  font-size: 1.2rem;
}
.sidebar-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  flex: 1;
}
.sidebar-body .collapse.show {
  max-height: 500px;
}
.sidebar-body::-webkit-scrollbar, .sidebar-body .collapse::-webkit-scrollbar {
  width: 5px;
}
.sidebar-body::-webkit-scrollbar-track, .sidebar-body .collapse::-webkit-scrollbar-track {
  background: var(--main-color);
}
.sidebar-body::-webkit-scrollbar-thumb, .sidebar-body .collapse::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.sidebar-body::-webkit-scrollbar-thumb:hover, .sidebar-body .collapse::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}
.sidebar-body, .sidebar-body .collapse {
  scrollbar-color: rgba(0, 0, 0, 0.5) var(--main-color);
  scrollbar-width: thin;
}
.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--main-color);
}
.sidebar-item .sidebar-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sidebar-item .sidebar-icon-container .fas {
  padding: 5px;
}
.sidebar-item .sidebar-icon-container .fas:hover {
  color: var(--text-hover-color);
  opacity: 0.5;
}
.sidebar-item > .sidebar-text-container > span {
  margin: 4px;
}
.sidebar-item img {
  width: 22px;
  height: 22px;
}
.sidebar-item:hover {
  border-left: 2px solid var(--border-hover-color);
  background-color: var(--hover-color);
  cursor: pointer;
}
.collapse .sidebar-item {
  padding-left: 20px;
  background-color: var(--active-color);
  border: 1px solid var(--main-color);
  text-align: left;
  font-size: 80%;
}
.collapse .sidebar-item.sidebar-item-header {
  padding: 5px 15px 5px 20px;
  color: #fff;
  background-color: var(--main-color);
  margin-bottom: 5px;
}
.collapse .sidebar-item.sidebar-item-header:hover {
  border-left: none;
  background-color: none;
}
.collapse .sidebar-item:hover {
  background-color: var(--hover-color);
  border-left: 2px solid var(--border-hover-color);
}
.sidebar-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 50px;
}
.sidebar-footer img {
  background-color: #e5e5e5;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 40px;
  width: 40px;
}

.content {
  grid-area: content;
}

.sidebar-right {
  grid-area: sidebar-right;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--main-color);
}
@media (min-width: 992px) {
  .sidebar-right {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    width: 150px;
  }
}

.footer {
  grid-area: footer;
  flex-wrap: wrap;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--text-main-color);
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}
.card hr {
  margin: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}
.card-alert {
  font-weight: bold;
  padding: 0.75rem;
  text-align: center;
}
.card.card-main {
  color: #186388;
  background-color: #aedbf1;
  border-color: #98d1ed;
}
.card.card-main hr {
  border-bottom-color: #83c8e9;
}
.card.card-success {
  color: #1a5e29;
  background-color: #95e2a6;
  border-color: #81dd95;
}
.card.card-success hr {
  border-bottom-color: #6dd784;
}
.card.card-secondary {
  color: #5f6269;
  background-color: #e2e3e5;
  border-color: #d5d6d9;
}
.card.card-secondary hr {
  border-bottom-color: #c7c9cd;
}
.card.card-danger {
  color: #b11f2c;
  background-color: #f8d7da;
  border-color: #f4c1c6;
}
.card.card-danger hr {
  border-bottom-color: #f0acb2;
}
.card.card-warning {
  color: #ae8500;
  background-color: #ffecae;
  border-color: #ffe695;
}
.card.card-warning hr {
  border-bottom-color: #ffe07b;
}
.card.card-info {
  color: #137f93;
  background-color: #b0eaf5;
  border-color: #99e4f2;
}
.card.card-info hr {
  border-bottom-color: #83deef;
}
.card.card-light {
  color: gray;
  background-color: #fff;
  border-color: #f2f2f2;
}
.card.card-light hr {
  border-bottom-color: #e6e6e6;
}
.card-header {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}
.card-header-main {
  background-color: #aedbf1;
  border-color: #98d1ed;
}
.card-header-success {
  background-color: #95e2a6;
  border-color: #81dd95;
}
.card-header-secondary {
  background-color: #e2e3e5;
  border-color: #d5d6d9;
}
.card-header-danger {
  background-color: #f8d7da;
  border-color: #f4c1c6;
}
.card-header-warning {
  background-color: #ffecae;
  border-color: #ffe695;
}
.card-header-info {
  background-color: #b0eaf5;
  border-color: #99e4f2;
}
.card-header-light {
  background-color: #fff;
  border-color: #f2f2f2;
}
.card-header a {
  color: #000;
  text-decoration: none;
  cursor: default;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}
.card-body.collapse {
  padding: 0;
  transition: max-height 200ms linear;
}
.card-body.collapse.show {
  padding: 1.25rem;
  max-height: 500px;
}
.card-body h3, .card-body h4 {
  margin-top: 0;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}
.card-footer-main {
  background-color: #aedbf1;
  border-color: #98d1ed;
}
.card-footer-success {
  background-color: #95e2a6;
  border-color: #81dd95;
}
.card-footer-secondary {
  background-color: #e2e3e5;
  border-color: #d5d6d9;
}
.card-footer-danger {
  background-color: #f8d7da;
  border-color: #f4c1c6;
}
.card-footer-warning {
  background-color: #ffecae;
  border-color: #ffe695;
}
.card-footer-info {
  background-color: #b0eaf5;
  border-color: #99e4f2;
}
.card-footer-light {
  background-color: #fff;
  border-color: #f2f2f2;
}

.window {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  height: auto;
  background-color: #fff;
}
.window.draggable {
  touch-action: none;
}
.window.window-sm {
  width: 350px;
}
.window.window-lg {
  width: 640px;
}
.window.window-xl {
  width: 1024px;
}
.window.window-full {
  width: 100%;
}
.window div:not(.card) {
  padding: 1.25rem;
}
.window .card {
  border: none;
  border-radius: unset;
}
.window .card .card-header {
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: #fff;
}
.window .card .card-body {
  padding: 1rem;
}
.window .card .card-footer {
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: #fff;
}

.group {
  margin: 0.5rem 0;
}

.form-label {
  font-weight: bold;
}

.form-field {
  display: block;
  width: 100%;
  height: 2.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.form-field-sm {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.form-field-lg {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.form-field:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-field:focus {
  outline: none;
  border: 1px solid #1f83b4;
  background-color: #fefefe;
  box-shadow: 0 0 4px var(--main-color);
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.form-field.main:focus {
  border: 1px solid #1f83b4;
  box-shadow: 0 0 4px #1f83b4;
}
.form-field.success:focus {
  border: 1px solid #25863a;
  box-shadow: 0 0 4px #25863a;
}
.form-field.secondary:focus {
  border: 1px solid #777b84;
  box-shadow: 0 0 4px #777b84;
}
.form-field.danger:focus {
  border: 1px solid #da2939;
  box-shadow: 0 0 4px #da2939;
}
.form-field.warning:focus {
  border: 1px solid #e1ac00;
  box-shadow: 0 0 4px #e1ac00;
}
.form-field.info:focus {
  border: 1px solid #18a6c1;
  box-shadow: 0 0 4px #18a6c1;
}
.form-field.light:focus {
  border: 1px solid #999999;
  box-shadow: 0 0 4px #999999;
}

textarea.form-field {
  height: auto;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.input-group-sm, .input-group-sm .input-group-icon, .input-group-sm > .form-field {
  height: 2rem;
}
.input-group-lg, .input-group-lg .input-group-icon, .input-group-lg > .form-field {
  height: 2.5rem;
}
.input-group > .form-field {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group > .form-field:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .form-field:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-icon {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  height: 2.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #ced4da;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.input-group-icon-left {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-icon-right {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.file {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin-bottom: 0;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.file .file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin: 0;
  opacity: 0;
}
.file .file-input:hover {
  cursor: pointer;
}
.file:not(:last-child) .file-label, .file:not(:last-child) .file-label::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.file .control-label::before,
.file .file-label,
.file .select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.file .file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.file .file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + .75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}
.file .file-input:lang(en) ~ .file-label::after {
  content: "Browse";
}
.file .file-input:lang(pt) ~ .file-label::after {
  content: "Selecionar";
}
.file .file-input:lang(es) ~ .file-label::after {
  content: "Seleccionar";
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
}
.switch input {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  background-color: #fff;
  border: #ccc solid 1px;
}
.switch.switch-main input:checked + .slider {
  background-color: #1f83b4;
}
.switch.switch-success input:checked + .slider {
  background-color: #25863a;
}
.switch.switch-secondary input:checked + .slider {
  background-color: #777b84;
}
.switch.switch-danger input:checked + .slider {
  background-color: #da2939;
}
.switch.switch-warning input:checked + .slider {
  background-color: #e1ac00;
}
.switch.switch-info input:checked + .slider {
  background-color: #18a6c1;
}
.switch.switch-light input:checked + .slider {
  background-color: #fafafa;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background-color: #ccc;
  transition: 0.4s;
  border: 1px solid #ccc;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 3px;
  border: #ccc solid 1px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
}

.checkbox,
.radio {
  display: inline-flex;
  align-items: baseline;
}
.checkbox input,
.radio input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: inherit;
  font-weight: bold;
  width: 1em;
  margin: 0;
  color: inherit;
  outline: none;
  font-family: Font Awesome\ 5 Free;
  transition: 300ms ease-out;
}
.checkbox input::after,
.radio input::after {
  display: inline-block;
  text-align: center;
  width: 1em;
  color: #ccc;
}
.checkbox input:checked::after,
.radio input:checked::after {
  font-weight: 900;
  color: var(--main-color);
}
.checkbox input:active,
.radio input:active {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.checkbox input + span,
.radio input + span {
  margin-left: 0.35em;
}
.checkbox input:hover,
.radio input:hover {
  cursor: pointer;
}
.checkbox:hover,
.radio:hover {
  cursor: pointer;
}

.radio input::after {
  content: "";
}

.radio input:checked::after {
  content: "";
}

.checkbox input::after {
  content: "";
}

.checkbox input:checked::after {
  content: "";
}

.slider input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  display: block;
  padding: 0;
  border: 0;
  width: auto;
  height: 0.25rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: inherit;
  background-color: #ccc;
}
.slider input::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  background: var(--main-color);
  outline: none;
}
.slider input::-moz-focus-outer {
  border: 0;
}
.slider input::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 1rem;
  height: 1rem;
  border: none;
  box-shadow: 0 0 0 0.2rem var(--main-color);
  border-radius: 1rem;
  background: var(--main-color);
  transform: scale(0.7);
  transition: 0.3s ease-out;
}
.slider input::-moz-range-thumb:focus, .slider input::-moz-range-thumb:active {
  -moz-appearance: none;
       appearance: none;
  transform: scale(1.3);
}
.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border: none;
  box-shadow: 0 0 0 0.2rem var(--main-color);
  border-radius: 1rem;
  background: var(--main-color);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  transition: 0.3s ease-out;
}
.slider input::-webkit-slider-thumb:focus, .slider input::-webkit-slider-thumb:active {
  -webkit-appearance: none;
          appearance: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  line-height: 1.5;
  border: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.dropdown > .btn.btn-main + div > a:hover:hover {
  background-color: #1b739e;
  color: #fff;
}
.btn.btn-main {
  background-color: #1f83b4;
  border: unset;
  color: #fff;
}
.btn.btn-main:hover, .btn.btn-main:active, .btn.btn-main:focus {
  text-shadow: var(--text-shadow);
  background-color: #1b739e;
}
.dropdown > .btn.btn-success + div > a:hover:hover {
  background-color: #1f7232;
  color: #fff;
}
.btn.btn-success {
  background-color: #25863a;
  border: unset;
  color: #fff;
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success:focus {
  text-shadow: var(--text-shadow);
  background-color: #1f7232;
}
.dropdown > .btn.btn-secondary + div > a:hover:hover {
  background-color: #6b6f77;
  color: #fff;
}
.btn.btn-secondary {
  background-color: #777b84;
  border: unset;
  color: #fff;
}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus {
  text-shadow: var(--text-shadow);
  background-color: #6b6f77;
}
.dropdown > .btn.btn-danger + div > a:hover:hover {
  background-color: #c72332;
  color: #fff;
}
.btn.btn-danger {
  background-color: #da2939;
  border: unset;
  color: #fff;
}
.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger:focus {
  text-shadow: var(--text-shadow);
  background-color: #c72332;
}
.dropdown > .btn.btn-warning + div > a:hover:hover {
  background-color: #c89900;
  color: #fff;
}
.btn.btn-warning {
  background-color: #e1ac00;
  border: unset;
  color: #fff;
}
.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning:focus {
  text-shadow: var(--text-shadow);
  background-color: #c89900;
}
.dropdown > .btn.btn-info + div > a:hover:hover {
  background-color: #1692aa;
  color: #fff;
}
.btn.btn-info {
  background-color: #18a6c1;
  border: unset;
  color: #fff;
}
.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info:focus {
  text-shadow: var(--text-shadow);
  background-color: #1692aa;
}
.dropdown > .btn.btn-light + div > a:hover:hover {
  background-color: #f2f2f2;
  color: #000;
}
.btn.btn-light {
  background-color: #fff;
  border: 1px solid var(--border-color);
  color: #000;
}
.btn.btn-light:hover, .btn.btn-light:active, .btn.btn-light:focus {
  text-shadow: unset;
  background-color: #f2f2f2;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn:hover {
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.65;
}

.table-responsive {
  padding: 10px;
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #363636;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.table thead td, .table thead th {
  border-width: 0 0 2px;
  color: #363636;
}
.table th {
  color: #363636;
  text-align: left;
}
.table td, .table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
  text-align: left;
}
.table.table-striped tbody tr:nth-child(even), .table.table-hoverable tbody tr:hover {
  background-color: #fafafa;
}
.table.table-bordered td, .table.table-bordered th {
  border-width: 1px;
}
.table.table-bordered thead tr:last-child td, .table.table-bordered thead tr:last-child th {
  border-bottom-width: 2px;
}
.table.table-main thead th {
  background-color: #1f83b4;
  color: #fff;
}
.table.table-success thead th {
  background-color: #25863a;
  color: #fff;
}
.table.table-secondary thead th {
  background-color: #777b84;
  color: #fff;
}
.table.table-danger thead th {
  background-color: #da2939;
  color: #fff;
}
.table.table-warning thead th {
  background-color: #e1ac00;
  color: #fff;
}
.table.table-info thead th {
  background-color: #18a6c1;
  color: #fff;
}
.table.table-light thead th {
  background-color: #fff;
  color: #000;
}

.dropdown {
  position: relative;
}
.dropdown .collapse {
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-width: 100px;
  border-radius: var(--border-radius);
  background-clip: padding-box;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}
.dropdown .collapse a {
  display: block;
  width: 100%;
  color: #000;
  padding: 0.75rem;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.dropdown .collapse a:hover {
  background-color: var(--hover-color);
  color: var(--text-main-color);
}

.progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.progress.sm {
  height: 0.75rem;
}
.progress.md {
  height: 1.25rem;
}
.progress.lg {
  height: 1.5rem;
}
.progress::-webkit-progress-bar {
  background-color: #dbdbdb;
}
.progress::-webkit-progress-value {
  background-color: #4a4a4a;
}
.progress::-moz-progress-bar {
  background-color: #4a4a4a;
}
.progress::-ms-fill {
  background-color: #4a4a4a;
  border: none;
}
.progress:indeterminate {
  background-color: #dbdbdb;
  background-image: linear-gradient(to right, #4a4a4a 30%, #dbdbdb 30%);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  -webkit-animation: moveIndeterminate 1.5s linear infinite;
          animation: moveIndeterminate 1.5s linear infinite;
}
.progress:indeterminate::-webkit-progress-bar {
  background-color: transparent;
}
.progress:indeterminate::-moz-progress-bar {
  background-color: transparent;
}
.progress.progress-main::-webkit-progress-value {
  background-color: #1f83b4;
}
.progress.progress-main:indeterminate::-moz-progress-bar {
  background-color: #1f83b4;
}
.progress.progress-main::-ms-fill {
  background-color: #1f83b4;
}
.progress.progress-main:indeterminate {
  background-image: linear-gradient(to right, #1f83b4 30%, #dbdbdb 30%);
}
.progress.progress-success::-webkit-progress-value {
  background-color: #25863a;
}
.progress.progress-success:indeterminate::-moz-progress-bar {
  background-color: #25863a;
}
.progress.progress-success::-ms-fill {
  background-color: #25863a;
}
.progress.progress-success:indeterminate {
  background-image: linear-gradient(to right, #25863a 30%, #dbdbdb 30%);
}
.progress.progress-secondary::-webkit-progress-value {
  background-color: #777b84;
}
.progress.progress-secondary:indeterminate::-moz-progress-bar {
  background-color: #777b84;
}
.progress.progress-secondary::-ms-fill {
  background-color: #777b84;
}
.progress.progress-secondary:indeterminate {
  background-image: linear-gradient(to right, #777b84 30%, #dbdbdb 30%);
}
.progress.progress-danger::-webkit-progress-value {
  background-color: #da2939;
}
.progress.progress-danger:indeterminate::-moz-progress-bar {
  background-color: #da2939;
}
.progress.progress-danger::-ms-fill {
  background-color: #da2939;
}
.progress.progress-danger:indeterminate {
  background-image: linear-gradient(to right, #da2939 30%, #dbdbdb 30%);
}
.progress.progress-warning::-webkit-progress-value {
  background-color: #e1ac00;
}
.progress.progress-warning:indeterminate::-moz-progress-bar {
  background-color: #e1ac00;
}
.progress.progress-warning::-ms-fill {
  background-color: #e1ac00;
}
.progress.progress-warning:indeterminate {
  background-image: linear-gradient(to right, #e1ac00 30%, #dbdbdb 30%);
}
.progress.progress-info::-webkit-progress-value {
  background-color: #18a6c1;
}
.progress.progress-info:indeterminate::-moz-progress-bar {
  background-color: #18a6c1;
}
.progress.progress-info::-ms-fill {
  background-color: #18a6c1;
}
.progress.progress-info:indeterminate {
  background-image: linear-gradient(to right, #18a6c1 30%, #dbdbdb 30%);
}
.progress.progress-light::-webkit-progress-value {
  background-color: #999999;
}
.progress.progress-light:indeterminate::-moz-progress-bar {
  background-color: #999999;
}
.progress.progress-light::-ms-fill {
  background-color: #999999;
}
.progress.progress-light:indeterminate {
  background-image: linear-gradient(to right, #999999 30%, #dbdbdb 30%);
}

@-webkit-keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

@keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  flex: 1 1 auto;
  color: #555;
}
.nav .nav-item {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.nav .nav-item:hover {
  cursor: pointer;
}
.nav .tab {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: -1px;
}
.nav .tab .nav-item {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #fff;
}
.nav .tab .nav-item.active {
  border-bottom: 2px solid var(--active-color);
}
.nav .tab .nav-item:hover {
  border-bottom: 2px solid var(--hover-color);
  color: var(--hover-color);
}
.nav .pill .nav-item {
  border-radius: var(--border-radius);
}
.nav .pill .nav-item.active {
  color: var(--text-main-color);
  background-color: var(--active-color);
}
.nav .pill .nav-item:hover {
  color: var(--text-main-color);
  background-color: var(--hover-color);
}

.link {
  position: relative;
  font-weight: bold;
  text-decoration: none;
}
.link.link-main {
  color: #1f83b4;
}
.link.link-main:before {
  background-color: #1f83b4;
}
.link.link-success {
  color: #25863a;
}
.link.link-success:before {
  background-color: #25863a;
}
.link.link-secondary {
  color: #777b84;
}
.link.link-secondary:before {
  background-color: #777b84;
}
.link.link-danger {
  color: #da2939;
}
.link.link-danger:before {
  background-color: #da2939;
}
.link.link-warning {
  color: #e1ac00;
}
.link.link-warning:before {
  background-color: #e1ac00;
}
.link.link-info {
  color: #18a6c1;
}
.link.link-info:before {
  background-color: #18a6c1;
}
.link.link-light {
  color: #999999;
}
.link.link-light:before {
  background-color: #999999;
}
.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75);
}
.link:hover {
  text-shadow: 2px 2px 4px #ccc;
}
.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-main {
  color: #1f83b4;
}

.text-success {
  color: #25863a;
}

.text-secondary {
  color: #777b84;
}

.text-danger {
  color: #da2939;
}

.text-warning {
  color: #e1ac00;
}

.text-info {
  color: #18a6c1;
}

.text-light {
  color: #999999;
}

.small-text {
  font-size: 80%;
}

.collapse {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 0;
  transition: max-height 250ms linear;
}
.collapse.show {
  width: 100%;
  max-height: 250px;
}

[data-activate=collapse]:hover,
[data-activate=collapse] a:hover {
  cursor: pointer;
}

.loading-spin {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 0.25em solid #000;
  border-right-color: transparent;
  -webkit-animation: spin 0.75s linear infinite;
          animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loading-grow {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: grow 0.75s linear infinite;
          animation: grow 0.75s linear infinite;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}
.circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border-radius: 50%;
}
.circle-black {
  background-color: #000;
}
.circle-green {
  border: 1px solid #35bc35;
  background-image: radial-gradient(circle, #00ff00, #06f706, #0ef50e, #14ef14, #18ea18, #1de51d, #20df21, #24da25, #29d32a, #2dcb2e, #31c432, #35bc35);
}
.circle-red {
  border: 1px solid #bc3535;
  background-image: radial-gradient(circle, #ff0000, #f70606, #f50e0e, #ef1414, #ea1818, #e51d1d, #df2120, #da2524, #d32a29, #cb2e2d, #c43231, #bc3535);
}
.circle-yellow {
  border: 1px solid #dada1d;
  background-image: radial-gradient(circle, #ffff00, #fcfc03, #f9f906, #f7f709, #f4f40c, #f1f10f, #eded12, #eaea14, #e6e617, #e2e219, #dede1b, #dada1d);
}
.circle-gray {
  border: 1px solid #929292;
  background-image: radial-gradient(circle, #848484, #868686, #878787, #898989, #8b8b8b, #8c8c8c, #8e8e8e, #8f8f8f, #909090, #909190, #919191, #929292);
}

.blink {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
  }
}
.box {
  border: 1px solid #ccc;
  padding: 0.5rem;
  height: 100px;
  width: 100px;
}

ol {
  list-style: none;
  counter-reset: counter;
}
ol > li {
  counter-increment: counter;
  padding: 1rem;
}
ol > li > label:nth-child(1) {
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
ol > li::before {
  content: counter(counter) ". ";
  font-size: 1.5rem;
  font-weight: bold;
}

/*
flex-direction
flex-wrap
justify-content
align-items
align-content
align-self

order

flex-grow
flex-shrink
flex-basis

flex

grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

grid-gap

grid-column

*/

/*# sourceMappingURL=styles.css.map */