:root {
  --primary-color: #222d32;
  --secondary-color: #1a2226;
  --text-primary-color: #f8f9fa;
  --text-secondary-color: #8e9aa0;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --black-color: #000;
  --white-color: #fff;
  --text-shadow: 1px 1px #000
}

/* Grid */

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: fit-content(75px) auto 75px 50px;
  grid-template-areas:
    'sidebar-left header   header  header  header  header'
    'sidebar-left content  content content content content'
    'sidebar-left sidebar-right sidebar-right sidebar-right sidebar-right sidebar-right'
    'sidebar-left footer   footer  footer  footer  footer';
}

.grid-container.hide-sidebar {
  grid-template-columns: 0 4fr;
}

/* End grid*/

.sidebar {
  grid-area: sidebar-left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  background-color: var(--primary-color);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .75);
  transition: left 200ms;
  left: 0
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  text-align: center;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  font-size: 50px;
  font-weight: bold
}

.sidebar-right {
  grid-area: sidebar-right;
  overflow: auto;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--dark-color);
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  font-weight: bold;
}

/* Header */

.header > .collapse{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header .sidebar-toggle a {
  font-size: 25px;
  padding: 15px;
  color: var(--text-primary-color);
}

.header .sidebar-toggle:hover a {
  color: var(--text-secondary-color);
  cursor: pointer;
}

.header .header-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .3125rem 0 .3125rem 0;
  text-shadow: var(--text-shadow);
  font-size: 1.25rem;
  white-space: nowrap;
  color: var(--text-primary-color);
  margin: 5px 15px 5px 15px;
}

.header-brand.hide {
  display: none;
}

.header .header-brand .img-logo {
  width: 55px;
  height: 45px;
  padding-right: 10px
}

.header .navbar {
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}

.header .collapse.show .navbar .header-item {
  border: 1px solid var(--secondary-color);
}

.header .header-item.active,
.header .header-item:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.header .header-item:hover a,
.header .header-brand:hover {
  color: #ccc
}

.header .header-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: var(--text-shadow);
  height: auto;
  padding: 15px;
  color: var(--text-primary-color);
}

.header .header-item a,
.header .header-item,
.header .header-brand {
  color: var(--text-primary-color);
  text-decoration: none;
  font-weight: bold;
}

.header .header-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 100%;
  padding: 5px 0 5px 0;
}

.header .header-toggle:active,
.header .header-toggle:hover {
  background-color: var(--secondary-color);
  cursor: pointer
}

/* End header */

/* Sidebar */

.grid-container.hide-sidebar .sidebar {
  left: -100%;
}

.sidebar .sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px;
  flex-grow: 0;
  height: 75px;
}

.sidebar .sidebar-header-left {
  justify-content: flex-start;
}

.sidebar .sidebar-header-right {
  justify-content: flex-end;
}

.sidebar .sidebar-header .sidebar-title,
.sidebar .sidebar-header a {
  text-shadow: var(--text-shadow);
  color: var(--text-primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.sidebar .sidebar-header .img-logo {
  width: 55px;
  height: 45px;
  padding-right: 10px 
}

.sidebar .sidebar-body {
  flex-grow: 1;
}

.sidebar .sidebar-item,
.sidebar .sidebar-subitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  text-shadow: var(--text-shadow);
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  list-style: none;
  font-weight: bold;
}

.sidebar .sidebar-item.fas:hover,
.sidebar .sidebar-subitem.fas:hover{
  color: var(--text-secondary-color);
}

.sidebar .sidebar-item.small a,
.sidebar .sidebar-subitem.small a,
.sidebar .sidebar-item .fas,
.sidebar .sidebar-subitem .fas {
  font-size: 90%; 
}

.sidebar .sidebar-subitem {
  padding-left: 20px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.sidebar .sidebar-item:hover, 
.sidebar .sidebar-subitem:hover {
  color: var(--text-secondary-color);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--secondary-color);
  border-left: 2px solid #3c8dbc;
}

.sidebar .sidebar-item:hover a, 
.sidebar .sidebar-subitem:hover a {
  color: var(--text-secondary-color);
}

.sidebar .sidebar-item a,
.sidebar .sidebar-subitem a {
  color: var(--text-primary-color);
  text-decoration: none;
  font-weight: bold
}

.sidebar .sidebar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-grow: 0;
}

.sidebar .sidebar-footer-white {
  background-color: var(--text-primary-color)
}

.sidebar .sidebar-footer-silver {
  background-color: rgba(235, 235, 235, 1);
}

.sidebar .sidebar-footer-dark {
  background-color: #000
}

.sidebar .sidebar-footer img {
  height: 35px;
  width: 35px;
}

.sidebar hr {
  margin: 0;
}

/* End sidebar*/

/* Sidebar right */

.sidebar-right ul {
  display: flex;
  flex-flow: row wrap;
}

.sidebar-right li {
  display: flex;
  flex-direction: row;
  padding: 15px;
  list-style: none;
  text-decoration: none;
}

.sidebar-right li a {
  text-shadow: var(--text-shadow);
  color: var(--text-primary-color);
  font-weight: bold;
  text-decoration: none
}

.sidebar-right li a:hover {
  color: var(--text-secondary-color);
  cursor: pointer;
}

/* Sidebar-right end */

.collapse {
  overflow: auto;
  max-height: 0;
  transition: max-height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.collapse.show {
  max-height: 250px;
}

.sidebar ul,
.sidebar-right ul,
.header ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Utils */

.small-text {
  font-size: 80%
}

.cursor-pointer {
  cursor: pointer
}

input,
select,
textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.input-sm {
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 100%;
}

.inline input, .inline .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inline label,
.inline button,
.inline input,
.inline a {
  margin-left: 10px;
  margin-right: 10px
}

.inline .btn {
  width: 100%;
  display: block;
}

.block {
  display: flex;
  flex-flow: column;
  flex: 1 100%;
}

.btn {
  display: inline-block;
  font-weight: bold;
  color: #212529;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn:active {
  border: 1px solid transparent;
}

.btn-dark {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-light {
  color: #000;
  background-color: var(--light-color);
  border-color: var(--black-color);
}

.btn-light:hover {
	color: var(--light-color);
  text-shadow: var(--text-shadow);
  background-color: var(--dark-color)
}

.btn-dark {
  color: #fff;
  background-color: var(--dark-color);
  border-color: var(--light-color);
}

.btn-dark:hover {
	color: var(--dark-color);
  text-shadow: var(--text-shadow);
  background-color: var(--light-color)
}

.collapse.show .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: var(--text-shadow);
  color: var(--text-primary-color);
  background-color: var(--secondary-color);
}

.collapse.show .dropdown-menu .dropdown-item {
  width: 100%;
  text-align: center;
  color: var(--text-primary-color);
  padding: .75rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 600;
  border: 1px solid var(--primary-color);
}

/* Extra small devices (phones, 591px and down) */
@media only screen and (max-width: 591px) {}

/* Small devices (portrait tablets and large phones, 591px and up) */
@media only screen and (min-width: 591px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 75px auto 50px;
    grid-template-areas:
      'sidebar-left header   header  header  header  header header'
      'sidebar-left content  content content content content sidebar-right'
      'sidebar-left footer   footer  footer  footer  footer footer';
  }

  .sidebar-right {
    grid-area: sidebar-right;
    width: 150px
  }

  .sidebar-right ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .header-toggle {
    display: none
  }

  .header .header-brand {
    flex-wrap: nowrap
  }

  .header .header-item {
    height: 75px;
  }

  .header > .collapse {
    display: flex;
    flex-direction: row;
    max-height: 250px
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: 100%;
    margin-right: auto;
  }

  .btn {
    display: inline-block;
    width: unset;
  }

  .header {
    flex-wrap: nowrap;
  }

  .inline {
    flex-direction: row;
    flex-wrap: nowrap;
    flex: -2 1 100%
  }
  
  .inline input, .inline .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .inline label,
  .inline button,
  .inline input,
  .inline a {
    margin-left: 10px;
    margin-right: 10px
  }

  .inline .btn {
    width: unset;
    display: inline-block
  }
  .dropdown-menu {
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-clip: padding-box;
    border-radius: .25rem;
    border: 1px solid rgba(38,38,38,.1);
    background-color: var(--primary-color);
  }
  
  .dropdown-menu .dropdown-item {
    color: var(--text-primary-color);
    padding: .8rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}