.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  @include box-shadow(.1);
  border-radius: var(--border-radius);
  & hr {
    margin: 1rem 0;
    border-bottom: 1px solid var(--border-color);
  }
  &-alert {
    font-weight: bold;
    padding: .75rem;
    text-align: center;
  }
  @each $name, $color in $colors-map {
    &.card-#{$name} {
      color: darken($color, 50%);
      background-color: $color;
      border-color: darken($color, 5%);
      & hr {
        border-bottom-color: darken($color, 10%);
      }
    }
  }
  &-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-align: center;
    @each $name, $color in $colors-map {
      &-#{$name} {
        background-color: $color;
        border-color: darken($color, 5%);
      }
    }
    & a {
      color: #000;
      text-decoration: none;
      cursor: default;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    &.collapse {
      padding: 0;
      transition: max-height 100ms linear;
      &.show {
        padding: 1.25rem;
        max-height: 500px;
      }
    }
    & h3, & h4 {
      margin-top: 0;
    }
  }
  &-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    text-align: center;
    @each $name, $color in $colors-map {
      &-#{$name} {
        background-color: $color;
        border-color: darken($color, 5%);
      }
    }
  }
}