.progress {
    appearance: none;
    border: none;
    border-radius: 290486px;
    display: block;
    height: 1rem;
    overflow: hidden;
    padding: 0;
    width: 100%;
    &.sm {
        height: .75rem
    }
    &.md {
        height: 1.25rem
    }
    &.lg {
        height: 1.5rem
    }

    &::-webkit-progress-bar {
        background-color: #dbdbdb
    }
    
    &::-webkit-progress-value {
        background-color: #4a4a4a
    }
    
    &::-moz-progress-bar {
        background-color: #4a4a4a
    }
    
    &::-ms-fill {
        background-color: #4a4a4a;
        border: none
    }
    
    &:indeterminate {
        background-color: #dbdbdb;
        background-image: linear-gradient(to right,#4a4a4a 30%,#dbdbdb 30%);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 150% 150%;
        animation: moveIndeterminate 1.5s linear infinite;
    }
    
    &:indeterminate::-webkit-progress-bar {
        background-color: transparent;
    }
    
    &:indeterminate::-moz-progress-bar {
        background-color: transparent;
    }

    @each $name, $color in $colors-map {
        &.progress-#{$name}::-webkit-progress-value {
            background-color: darken($color, 40%);
        }
        &.progress-#{$name}:indeterminate::-moz-progress-bar {
            background-color: darken($color, 40%);
        }
        &.progress-#{$name}::-ms-fill {
            background-color: darken($color, 40%);
        }
        &.progress-#{$name}:indeterminate {
            background-image: linear-gradient(to right, darken($color, 40%) 30%,#dbdbdb 30%);
        }
    }
}
@keyframes moveIndeterminate {
    from {background-position: 200% 0}
    to {background-position: -200% 0}
}