.sidebar-right {
  grid-area: sidebar-right;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--main-color);
  @include media-breakpoint('lg') {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    width: 150px
  }
}