.table-responsive {
  padding: 10px;
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #363636;
  width: 100%;
  @include box-shadow(.1);
  & thead td,
  & thead th {
    border-width: 0 0 2px;
    color: #363636;
  }
  & th {
    color: #363636;
    text-align: left;
  }
  
  & td,
  & th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
    text-align: left;
  }
  
  &.table-striped tbody tr:nth-child(even),
  &.table-hoverable tbody tr:hover {
    background-color: #fafafa;
  }
  
  &.table-bordered td,
  &.table-bordered th {
    border-width: 1px;
  }
  
  &.table-bordered thead tr:last-child td,
  &.table-bordered thead tr:last-child th {
    border-bottom-width: 2px;
  }

  @each $name, $color in $colors-map {
    &.table-#{$name} thead th {
      background-color: if($name=='light', $color,darken($color, 40%));
      color: if($name=='light',#000, #fff);
    }
  }
}