$success: #95e2a6;
$secondary: #e2e3e5;
$danger: #f8d7da;
$warning: #ffecae;
$info: #b0eaf5;
$light: #f8f9fa;

$colors-map: (success: $success, secondary: $secondary, danger: $danger, warning: $warning, info: $info, light: $light);

:root {
  --main-color: #2084b3;
  --active-color: #005e8ae6;
  --hover-color: #005e8acc;

  --text-main-color: #fff;
  --text-active-color: #fff;
  --text-hover-color: #cccccc;

  --border-color: #ced4da;
  --border-active-color: #ced4da;
  --border-hover-color: #ced4da;

  --border-radius: .25rem;

  --text-shadow: 1px 1px #000;
  --box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);

  --success: $success;
  --secondary: $secondary;
  --danger: $danger;
  --warning: $warning;
  --info: $info;
  --light: $light;
}

$breakpoints-map: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
@function breakpoint-min($name) {
  $min: map-get($breakpoints-map, $name);
  @return $min;
}

@function breakpoint-infix($name) {
  @return if(breakpoint-min($name) == 0, "", "-#{$name}");
}

@mixin media-breakpoint($name){
  $min: breakpoint-min($name);
  @if $min > 0 {
    @media (min-width: $min) {
      @content;
    }  
  } @else {
    @content;
  }
}

%flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%item-link {
  font-weight: bold;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  color: var(--text-main-color);
}

%ul-no-style {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}