@import 
'reset',
'variables',
'grid',
'header',
'sidebar',
'content',
'sidebar-right',
'footer',
'card',
'window', 
'form',
'button', 
'table', 
'dropdown',
'progress-bar',
'nav',
'text',
'collapse',
'loading'
;

// APAGAR
.box {
  border: 1px solid #ccc;
  padding: .5rem;
  height: 100px;
  width: 100px;
}

ol {
  list-style: none;
  counter-reset: counter;
  & > li {
      counter-increment: counter;
      padding: 1rem;
      & > label:nth-child(1) {
          font-weight: bolder;
          font-size: 1.5rem;
          margin-bottom: .25rem;
      }
      &::before {
          content: counter(counter) ". ";
          font-size: 1.5rem;
          font-weight: bold;
      }
  }
}




/*
flex-direction
flex-wrap
justify-content
align-items
align-content
align-self

order

flex-grow
flex-shrink
flex-basis

flex

grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

grid-gap

grid-column

*/
