@import 
'reset',
'variables',
'grid',
'header',
'sidebar',
'content',
'sidebar-right',
'footer',
'card',
'window', 
'form',
'button', 
'table', 
'dropdown',
'progress-bar',
'nav';

.loading-spin {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: .25em solid #000;
  border-right-color: transparent;
  animation: spin .75s linear infinite
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-grow {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: grow .75s linear infinite;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.collapse {
  @extend %display-flex;
  @extend %flex-column;
  overflow: auto;
  max-height: 0;
  text-align: center;
  transition: max-height 200ms linear;
  &.show {
    width: 100%;
    max-height: 250px;
  }
}
[data-activate="collapse"]:hover,
[data-activate="collapse"] a:hover {
  cursor: pointer;
}


.small-text {
  font-size: 80%
}

.draggable {
  touch-action: none;
}

/*
flex-direction
flex-wrap
justify-content
align-items
align-content
align-self

order

flex-grow
flex-shrink
flex-basis

flex

grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

grid-gap

grid-column

*/
