@import 
'reset',
'variables',
'grid',
'header',
'sidebar',
'content',
'sidebar-right',
'footer',
'card',
'window', 
'form',
'button', 
'table', 
'dropdown',
'progress-bar',
'nav',
'text'
;

.loading-spin {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: .25em solid #000;
  border-right-color: transparent;
  animation: spin .75s linear infinite
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-grow {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: grow .75s linear infinite;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border-radius: 50%;
  &-black {
    background-color: #000;
  }
  &-green {
    border: 1px solid #35bc35;
    background-image: radial-gradient(circle, #00ff00, #06f706, #0ef50e, #14ef14, #18ea18, #1de51d, #20df21, #24da25, #29d32a, #2dcb2e, #31c432, #35bc35);
  }
  &-red {
    border: 1px solid #bc3535;
    background-image: radial-gradient(circle, #ff0000, #f70606, #f50e0e, #ef1414, #ea1818, #e51d1d, #df2120, #da2524, #d32a29, #cb2e2d, #c43231, #bc3535);
  }
  &-yellow {
    border: 1px solid #dada1d;
    background-image: radial-gradient(circle, #ffff00, #fcfc03, #f9f906, #f7f709, #f4f40c, #f1f10f, #eded12, #eaea14, #e6e617, #e2e219, #dede1b, #dada1d);
  }
  &-gray {
    border: 1px solid #929292;
    background-image: radial-gradient(circle, #848484, #868686, #878787, #898989, #8b8b8b, #8c8c8c, #8e8e8e, #8f8f8f, #909090, #909190, #919191, #929292);
  }
}

.blink {
  opacity: 0;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 0;
  transition: max-height 250ms linear;
  &.show {
    width: 100%;
    max-height: 250px;
  }
}
[data-activate="collapse"]:hover,
[data-activate="collapse"] a:hover {
  cursor: pointer;
}

.small-text {
  font-size: 80%
}


// APAGAR
.box {
  border: 1px solid #ccc;
  padding: .5rem;
  height: 100px;
  width: 100px;
}

ol {
  list-style: none;
  counter-reset: counter;
  & > li {
      counter-increment: counter;
      padding: 1rem;
      & > label:nth-child(1) {
          font-weight: bolder;
          font-size: 1.5rem;
          margin-bottom: .25rem;
      }
      &::before {
          content: counter(counter) ". ";
          font-size: 1.5rem;
          font-weight: bold;
      }
  }
}




/*
flex-direction
flex-wrap
justify-content
align-items
align-content
align-self

order

flex-grow
flex-shrink
flex-basis

flex

grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

grid-gap

grid-column

*/
